In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
school_df = pd.read_excel('School_Directory.xlsx')

In [9]:
school_df = school_df[['School', 'Entity Type', 'Public Yes/No', 'Street Address', 'Street City', 'Street Zip']].dropna(axis=0, how='any')
school_df.isnull().sum()

School            0
Entity Type       0
Public Yes/No     0
Street Address    0
Street City       0
Street Zip        0
dtype: int64

In [16]:
# get all schools in SF
sf_school_df = school_df[school_df['Street City'].str.startswith('San Fra')]
sf_school_df['Street City'] = 'San Francisco'
sf_school_df['Street Zip'] = sf_school_df['Street Zip'].apply(lambda x: x.split("-")[0])
sf_school_df

C:\Users\me\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\me\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,School,Entity Type,Public Yes/No,Street Address,Street City,Street Zip
2952,Osagie International Academy Charter,K-12 Schools (Public),Y,388 Market St.,San Francisco,94111
12127,Swiss American Academy,High Schools (Private),N,"101 California St. Ste. 2710 San Fransisco, CA",San Francisco,94530
18071,Adams (John) Adult High,Adult Education Centers,Y,1860 Hayes St.,San Francisco,94117
18072,Alemany Adult,Adult Education Centers,Y,750 Eddy St.,San Francisco,94109
18073,Galileo Adult High School,Adult Education Centers,Y,2112 Greenwich St.,San Francisco,94123
18074,Mission Adult High,Adult Education Centers,Y,3750 18th St.,San Francisco,94114
18075,Pacific Heights Adult High Sch,Adult Education Centers,Y,220 Golden Gate Ave.,San Francisco,94102
18076,Southeast Community College Center,Adult Education Centers,Y,1800 Oakdale St.,San Francisco,94124
18077,Community Center School (Youth,Youth Authority Facilities,Y,865 Page St.,San Francisco,94117
18078,Diagnostic School for NH,State Special Schools,Y,Lake Merced Blvd.& Winston,San Francisco,94132
18080,Alternative/Opportunity,Alternative Schools of Choice,Y,135 Vann Ness Ave.,San Francisco,94102
18081,Andrew Jackson Shelter School,Juvenile Court Schools,Y,2049 Grove St.,San Francisco,94117
18082,Bay Junior/Senior High,County Community,Y,Bldg. 141 Fort Mason,San Francisco,94123
18085,County Community Day School,Juvenile Court Schools,Y,1512 Golden Gate Ave.,San Francisco,94115
18086,Edgewood Home School,Other County Or District Programs,Y,1801 Vicente St.,San Francisco,94116
18089,Postal Street Academy,County Community,Y,914 Divisadero,San Francisco,94115
18090,Real Alternative School (R.A.P.),Juvenile Court Schools,Y,1950 Mission,San Francisco,94103
18091,S.F. County Civic Center Secondary,County Community,Y,727 Golden Gate Ave.,San Francisco,94102
18092,S.F. County Court Woodside Learning Ctr,Juvenile Court Schools,Y,"375 Woodside Ave., W1",San Francisco,94127
18093,S.F. County Opportunity (Hilltop),Opportunity Schools,Y,1325 Florida St,San Francisco,94110
18094,S.F. County Special Education,Special Education Schools (Public),Y,3045 Santiago St,San Francisco,94116
18095,Sovereign Private School,K-12 Schools (Private),N,1340 BRYANT ST.,San Francisco,94103
18096,San Francisco County ROP,ROC/ROP,Y,750 25th Ave.,San Francisco,94121
18097,Academy (The)- SF @McAteer,Alternative Schools of Choice,Y,555 Portola Dr.,San Francisco,94131
18098,Adams (John) Adult High,Adult Education Centers,Y,1860 Hayes St.,San Francisco,94117
18099,Adda Clevenger School,Elementary School (Private),N,180 Fair Oaks St.,San Francisco,94110
18100,Alamo Elementary,Elementary Schools (Public),Y,250 23rd Ave.,San Francisco,94121
18101,Aleph Bet School,Elementary School (Private),N,1250 Quintara,San Francisco,94116
18102,Alta Vista School,Elementary School (Private),N,450 Somerset St.,San Francisco,94134
18103,Alternative/Opportunity,Alternative Schools of Choice,Y,135 Van Ness,San Francisco,94102
...,...,...,...,...,...,...
18480,Walden Academy,High Schools (Private),N,214 Haight St.,San Francisco,94102
18481,Walden Academy-Project Sisterkin,High Schools (Private),N,45 Farallones St.,San Francisco,94112
18483,Wallenberg (Raoul) Traditional High,High Schools (Public),Y,40 Vega St.,San Francisco,94115
18484,Washington (George) High,High Schools (Public),Y,600 32nd Ave.,San Francisco,94121
18485,Washington Irving Elementary,Elementary Schools (Public),Y,350 Broadway St.,San Francisco,94133
18486,Webster (Daniel) Elementary,Elementary Schools (Public),Y,465 Missouri St.,San Francisco,94107
18487,Weill (Raphael) Children Center,Preschool,Y,1501 O'Farrell St.,San Francisco,94115
18488,Wells (Ida B.) High,Continuation High Schools,Y,1099 Hayes St.,San Francisco,94117
18489,Wen Jian Ying,Elementary School (Private),N,259 Judson Ave.,San Francisco,94112
18490,West Portal Elementary,Elementary Schools (Public),Y,5 Lenox Way,San Francisco,94127
18491,West Portal Lutheran School,Elementary School (Private),N,200 Sloat Blvd.,San Francisco,94132
18492,Western Addition Academy,Elementary Schools (Public),Y,1550 Steiner St.,San Francisco,94115
18493,Westside Community Mental Heal,Special Education Schools (Public),Y,2201 Sutter St.,San Francisco,94115
18494,William de Avila Elementary,Elementary Schools (Public),Y,1351 Haight St.,San Francisco,94117
18495,Winfield Scott Elementary,Elementary Schools (Public),Y,3630 Divisadero,San Francisco,94123
18496,Woodrow Wilson High,High Schools (Public),Y,400 Mansell St.,San Francisco,94134
18497,Woodside International School,K-12 Schools (Private),N,1555 Irving St.,San Francisco,94122
18498,Xian Yun Academy of the Arts California,K-12 Schools (Private),N,1950 Page St.,San Francisco,94117
18499,Yerba Buena Elementary,Elementary Schools (Public),Y,2110 Greenwich St.,San Francisco,94123
18500,Yick Wo Elementary,Elementary Schools (Public),Y,2245 Jones St.,San Francisco,94133
18501,YOUTH CHANCE HIGH,High Schools (Private),N,220 Golden Gate Ave.,San Francisco,94102
18502,Youth Chance High School,Ungraded Schools (Private),N,169 Steuart St.,San Francisco,94105
18503,Youth Guidance Center,High Schools (Public),Y,166 the Embarcadero,San Francisco,94105
18504,Yu (Alice Fong) Elementary,Elementary Schools (Public),Y,1541 12th Ave.,San Francisco,94122
18505,Zion Lutheran School,Elementary School (Private),N,495 9th Ave.,San Francisco,94118
18506,OnePurpose,Elemen Schools In 1 School Dist. (Public),Y,948 Hollister Ave.,San Francisco,94124
18507,San Francisco Flex Academy,K-12 Schools (Public),Y,1350 7th Ave.,San Francisco,94122
18508,The New School of San Francisco,Elemen Schools In 1 School Dist. (Public),Y,"655 De Haro St., 1st Fl.",San Francisco,94107
18901,Leadership Public Schools-Stockton,High Schools (Public),Y,"2601 Mission St., 9th Fl.",San Francisco,94110
19311,Bridgemont High School,K-12 Schools (Private),N,5825 Mission,San Francisco,94132

In [28]:
sf_school_df['Street Zip'].unique()

array(['94111', '94530', '94117', '94109', '94123', '94114', '94102',
       '94124', '94132', '94115', '94116', '94103', '94127', '94110',
       '94121', '94131', '94134', '94107', '94112', '94122', '94108',
       '94118', '94133', '94129', '94135', '94130', '94105', '94126'], dtype=object)

In [32]:
# #schools for each zip code
zip_to_num_schls = {}
for name, group in sf_school_df.groupby('Street Zip'):
    zip_to_num_schls[name] = len(group)

411
411

In [39]:
# generate a dataframe: ['zip_code', 'num_schools']
zip_school_df = pd.DataFrame({'zip_code': list(zip_to_num_schls.keys()), 'num_schools': list(zip_to_num_schls.values())},
                            columns=['zip_code', 'num_schools'])
zip_school_df

   zip_code  num_schools
0     94102           17
1     94103           10
2     94105            3
3     94107           16
4     94108            6
5     94109           11
6     94110           37
7     94111            5
8     94112           36
9     94114           18
10    94115           33
11    94116           20
12    94117           19
13    94118           17
14    94121           16
15    94122           21
16    94123           13
17    94124           27
18    94126            1
19    94127           11
20    94129            4
21    94130            2
22    94131           15
23    94132           17
24    94133           10
25    94134           23
26    94135            2
27    94530            1

In [47]:
zip_school_df.to_csv('zip_num_school.csv', index=False)

In [18]:
crime_df = pd.read_csv('SF_Crime_ByDistrict_2017.csv')
crime_df = crime_df[['Category', 'PdDistrict', 'Address', 'X', 'Y']]
crime_df.head()

,Category,PdDistrict,Address,X,Y
0,LARCENY/THEFT,NORTHERN,0 Block of HERMANN ST,-122.425963,37.770708
1,LARCENY/THEFT,NORTHERN,0 Block of HERMANN ST,-122.425963,37.770708
2,LARCENY/THEFT,NORTHERN,HAIGHT ST / STEINER ST,-122.432096,37.771896
3,"SEX OFFENSES, FORCIBLE",INGLESIDE,100 Block of DUNCAN ST,-122.423484,37.746362
4,TRESPASS,TENDERLOIN,200 Block of TURK ST,-122.413238,37.782843

In [20]:
crime_df['PdDistrict'].unique()

array(['NORTHERN', 'INGLESIDE', 'TENDERLOIN', 'PARK', 'TARAVAL',
       'SOUTHERN', 'MISSION', 'CENTRAL', 'BAYVIEW', 'RICHMOND'], dtype=object)

Allocate zip codes to districts, source: http://www.healthysf.org/bdi/outcomes/zipmap.htm  
'TARAVAL' is included in 'PARK'.

<img src="SF_zip_map.jpg">

In [2]:
district_to_zip = {'NORTHERN': [94115, 94123,  94108, 94109, 94133, 94104, 94105, 94106, 94111],
                  'INGLESIDE':[94112],
                  'TENDERLOIN':[94102],
                  'PARK_TARAVAL':[94116],
                  'SOUTHERN': [94132, 94127, 94134],
                  'MISSION':[94110],
                  'CENTRAL':[94117, 94114, 94131, 94103],
                  'BAYVIEW':[94124],
                  'RICHMOND':[94118, 94121],
                  'SUNSET':[94122],
                  'POTRERO HILL':[94107]}

In [49]:
district_to_num_crimes = {'PARK_TARAVAL': 0}
# PARK and TARAVAL are merged to one category
for name, group in crime_df.groupby('PdDistrict'):
    if name == 'PARK' or name == 'TARAVAL':
        district_to_num_crimes['PARK_TARAVAL'] += len(group)
    district_to_num_crimes[name] = len(group)

district_crime_df = pd.DataFrame({'district': list(zip_to_num_crimes.keys()), 'num_crimes': list(zip_to_num_crimes.values())},
                            columns=['district', 'num_crimes'])
district_crime_df
# PARK_TARAVAL: 121368575 + 12136

        district  num_crimes
0   PARK_TARAVAL       20711
1        BAYVIEW       13994
2        CENTRAL       18993
3      INGLESIDE       11515
4        MISSION       21788
5       NORTHERN       21040
6           PARK        8575
7       RICHMOND        9478
8       SOUTHERN       28424
9        TARAVAL       12136
10    TENDERLOIN        8759

In [50]:
district_crime_df.to_csv('district_num_crime.csv', index=False)

Create a csv: zip_code, district, num_crimes

In [13]:
#zip_crime = [zip_code for lst in district_to_zip.values() for zip_code in lst]
zips = []
districts = []
for distr, zip_lst in district_to_zip.items():
    zips += zip_lst
    for i in range(len(zip_lst)):
        districts.append(distr)
    
print(zips)
print()
print(districts)
print(len(zips))
print(len(districts))

[94115, 94123, 94108, 94109, 94133, 94104, 94105, 94106, 94111, 94112, 94102, 94116, 94132, 94127, 94134, 94110, 94117, 94114, 94131, 94103, 94124, 94118, 94121, 94122, 94107]

['NORTHERN', 'NORTHERN', 'NORTHERN', 'NORTHERN', 'NORTHERN', 'NORTHERN', 'NORTHERN', 'NORTHERN', 'NORTHERN', 'INGLESIDE', 'TENDERLOIN', 'PARK_TARAVAL', 'SOUTHERN', 'SOUTHERN', 'SOUTHERN', 'MISSION', 'CENTRAL', 'CENTRAL', 'CENTRAL', 'CENTRAL', 'BAYVIEW', 'RICHMOND', 'RICHMOND', 'SUNSET', 'POTRERO HILL']
25
25

In [14]:
zip_district_df = pd.DataFrame({'zip_code' : zips, 'district' : districts})
zip_district_df

        district  zip_code
0       NORTHERN     94115
1       NORTHERN     94123
2       NORTHERN     94108
3       NORTHERN     94109
4       NORTHERN     94133
5       NORTHERN     94104
6       NORTHERN     94105
7       NORTHERN     94106
8       NORTHERN     94111
9      INGLESIDE     94112
10    TENDERLOIN     94102
11  PARK_TARAVAL     94116
12      SOUTHERN     94132
13      SOUTHERN     94127
14      SOUTHERN     94134
15       MISSION     94110
16       CENTRAL     94117
17       CENTRAL     94114
18       CENTRAL     94131
19       CENTRAL     94103
20       BAYVIEW     94124
21      RICHMOND     94118
22      RICHMOND     94121
23        SUNSET     94122
24  POTRERO HILL     94107

In [15]:
# merge zip_district_df with district_crime
district_crime_df = pd.read_csv('district_num_crime.csv')
district_crime_df

        district  num_crimes
0   PARK_TARAVAL       20711
1        BAYVIEW       13994
2        CENTRAL       18993
3      INGLESIDE       11515
4        MISSION       21788
5       NORTHERN       21040
6           PARK        8575
7       RICHMOND        9478
8       SOUTHERN       28424
9        TARAVAL       12136
10    TENDERLOIN        8759

In [17]:
zip_crime_df = zip_district_df.merge(district_crime_df, left_on = 'district', right_on = 'district', how = 'inner')
zip_crime_df.to_csv('zip_num_crime.csv', index=False)